.h1
{position: fixed;
left:0;
top:0;}


h2 
{font-family: tenso, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 2em;}

h3 
{font-family: tenso, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 1.5em;}

h4 
{font-family: tenso, sans-serif;
font-weight: 540;
font-style: normal;
font-size: 1em;}

p 
{font-family: tenso, sans-serif;
font-weight: 400;
font-style: italic;
font-size: 1em;}

img 
{width: auto ;
max-width: 100%;
display: block;
margin-left: 4%;}

body {background-color: rgb(255, 250, 241);}

ul
{list-style-type: none;
margin: 0;
padding: 0;}

div
{border: 1px;
border-radius: 5px;
margin: auto;
padding: 2%;
width: 100%;}

a
{color: #545454;
font-family: tenso, sans-serif;
font-size: 1.5em;
text-decoration: none;}

a:hover 
{color: #191919;}

a.nav:link
{color: #191919;
display: inline-block;
padding: 10%;
text-align:center;
width: 8.125em;}

a.nav:hover
{color: #191919;
background-color: #BEEECF;}

li.nav
{float: left;}

ul.nav
{display: center;
margin: auto;} 
